@tailwind base;
  @tailwind components;
  @tailwind utilities;


  

  body{
    background: #FFF7EA;
    overflow: hidden;
  }

  html {
    overflow-x: hidden;
  }
  button {
    outline: none;
  }
  .container {
    max-width: 1200px;
    padding: 0px 20px;
  }

  h1,h2,h3 , h4 , h5 {
    
  }
  p {
    font-weight: 500
  }

  .header.scrolled {
    @apply shadow-md; /* Or any desired shadow class */
  }