@tailwind base;
  @tailwind components;
  @tailwind utilities;


  .rtl {
    font-family:;
  }

  body{
    background: #FFF7EA;
    overflow: hidden;
  }

  html {
    overflow-x: hidden;
  }
  button {
    outline: none;
  }
  .container {
    max-width: 1200px;
    padding: 0px 20px;
  }

  h1,h2,h3 , h4 , h5 {
    
  }
  p {
    font-weight: 500
  }

  .header.scrolled {
    @apply shadow-md; /* Or any desired shadow class */
  }

  

  .slider {
    margin:0 20px;
    overflow:"hidden";
    padding:2rem 0;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
  }
  
  .slider img {
   width: 40px;
  }
  
  .react-multi-carousel-list {
  padding: 0rem 0 2rem 0;
  }
  
  .custom-dot-list-style button{
  border: none;
  display: none !important;
  background: rgb(255, 68, 68);
  }

  .react-multi-carousel-dot-list {
    display: none;
  }
  .react-multi-carousel-dot.react-multi-carousel-dot--active button{
  background: rgb(255, 68, 68) !important;
  }